*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:focus{
    outline: none;
}

input::placeholder {
    color: red;
}

select:focus{
    outline: none;
}

.calculator{
    padding: 25px;
    width: 30%;
    height: 30%;
    border: none;
    border-radius: 10px;
    background-color: rgb(186,255,194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.calculator__calculation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator__calculation-inp{
    max-width: 30%;
    padding: 10px;
    border: 2px dashed red;
    border-radius: 10px;
    color: #000000;
    background-color: rgb(186,255,194);
}

.calculator__calculation-sl{
    max-width: 40%;
    min-width: 20%;
    padding: 10px;
    border: 2px dashed red;
    border-radius: 10px;
    color: red;
    background-color: rgb(186,255,194);
}

.calculator__btn{
    max-width: 40%;
    width: 40%;
    border: 2px dashed red;
    border-radius: 10px;
    color: red;
    background-color: rgb(186,255,194);
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    align-self: center; 
}

.result{
    width: 100%;
    height: 40%;
    max-height: 40%;
    border-radius: 10px;
    padding: 0px 10px;
    border: 2px dashed red;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

